<h1 align="center">Category: <%= @category.name %></h1>

<div align="center">
  <%= will_paginate @category_articles %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div align="center">
  <%= will_paginate @category_articles %>
</div>